.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background: #fff;
  transition: opacity 0.5s ease-in;
}
#loader-glass-holder {
  position: absolute;
  width: 56px;
  height: 96px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  overflow: hidden;
}
#loader-glass {
  position: absolute;
  width: 56px;
  height: 96px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 50;
}
#loader-water {
  position: absolute;
  width: 200px;
  height: 200px;
  bottom: -10px;
  left: -50px;
  right: 0;
  background: #fed123;
  transform: rotate(10deg);
  z-index: 30;
  animation: fill 1s infinite linear;
  -webkit-animation: fill 1s infinite linear;
  -o-animation: fill 1s infinite linear;
}
@keyframes fill {
  from {
      height: 0;
  }

  to {
      height: 96px;
  }
}